.ios ion-title {
    color: black;
}
.md ion-title {
    color: blue;
}

.md .add-input{
    border-radius: 18px;
    background: #ADD8E6;
    padding: 5px 2px;
}

.add-input{
    border-radius: 18px;
    background: #ADD8E6;
    padding: 5pc 2px;
}

ion-content {
    background-color: #ADD8E6;
    color: red;
    font-family: "Montserrat";
}